/* =============
    Base
============= */
ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

#header{
    background-color: rgb(74, 95, 88);
    color: lemonchiffon;
}
#s1 {
    background-color: rgb(74, 95, 88);
    color: lemonchiffon;
}
#s2 {
    background-color: rgb(74, 95, 88);
    color: lemonchiffon;
}
#s3 {
    background-color: rgb(74, 95, 88);
    color: lemonchiffon;
}
#s4 {
    background-color: rgb(74, 95, 88);
    color: lemonchiffon;
}
#s5{
    background-color: rgb(74, 95, 88);
    color: lemonchiffon;
}
#footer{
    background-color: rgb(74, 95, 88);
    color: lemonchiffon;
}

#pic-break {
    margin: 10px;
}
    
.hidden{
    display: none;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Oswald', sans-serif;
}