/* =============
    Base
============= */
ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

.hidden{
    display: none;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Oswald', sans-serif;
}