/* =============
    2side-by-sides
============= */
#side-by-sides img {
  width: 100%;
}
#side-by-sides ul li {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". 2side-by-sides-content .";
}
#side-by-sides ul li a {
  grid-area: 2side-by-sides-content;
}
